@model SL_FX.ViewModels.VM_EditMember
@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<h2>修改密码</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>修改密码</legend>
        <div class="editor-label">
            用户名：@Model.UserName
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)<span style="color: #999; font-size: 10px;">(字母开头，长度6~18位)</span>
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)<span style="color: #999;
                font-size: 10px;">(字母开头，长度6~18位)</span>
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.NickName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NickName)
            @Html.ValidationMessageFor(model => model.NickName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.CorpName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CorpName)
            @Html.ValidationMessageFor(model => model.CorpName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Mphone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Mphone)
            @Html.ValidationMessageFor(model => model.Mphone)
        </div>
        <p>
            <input type="submit" value="保存" />
        </p>
    </fieldset>
}


